body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow-y: hidden;
  text-align: center;
  color: white;
}

a {
  color: lightblue;
}

.footer {
  margin-top: 20px;
  font-style: italic;
  color: lightblue;
}

nav a {
  padding: 10px;
}

.ewaste {
  color: white;
}
