body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow-y: hidden;
  text-align: center;
}

@font-face {
  font-family: 'Good Times';
  src: local('goodtimesfont.otf');
}

body {
  font-family: 'Good Times', sans-serif;
}
