@font-face {
    font-family: 'GoogleFont';
    src: url('../../assets/website/google.ttf') format('truetype');
}

body {
    font-family: 'GoogleFont';
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url('../../assets/website/bg.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #0e4e79;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    z-index: 1000;
}

#header-text h1 {
    font-size: 2.0rem;
    margin: 0;
    color: #ecf0f1;

}

#header-text p {
    margin: 0;
    font-size: 1.0rem;
    color: #bdc3c7;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

p {
    margin: 0;
    font-size: 1rem;
    opacity: 0.8;
}

.content {
    padding: 20px;
    max-width: 800px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2 {
    font-size: 2.5rem;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}


.buttons {
    margin-top: 20px;
    text-align: center;
}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
    font-size: 0.85em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button i {
    margin-right: 6px;
    font-size: 1.2em;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tiktok {
    background-color: #000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 3px transparent;
}


.youtube {
    background-color: #FF0000;
}

.discord {
    background-color: #7289DA;
}

.e-waste {
    background-color: #4CAF50;
}

.windows {
    background-color: #0078D7;
}

.devices {
    background-color: rgb(85, 0, 243);
}

.pfptimeline {
    background-color: rgb(228, 116, 12)
}

.known-issue {
    background-color: #fcf1a7;
    border-left: 4px solid yellow;
    padding: 10px;
    margin: 20px auto 10px;

}

.known-issue-title {
    color: black;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.known-issue p {
    margin: 0;
    font-size: 0.9rem;
}

.footer-text {
    font-size: 0.8rem;
    margin-top: 15px;
    text-align: center;
    color: #777;
}

.feedback-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.feedback-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.feedback-button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.feedback-button-container {
    text-align: center;
    margin-top: 20px;
}


.feedback-button i {
    margin-right: 8px;
}

.made-with-text {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.avatar-image {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.footer-text {
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
    color: #777;
}

.content {
    position: relative;
    padding-bottom: 60px;
    padding-top: 100px;
}
.roblox {
    background-color: #F56B00;
    color: white;
}

.roblox:hover {
    background-color: #d65a00;
}

.roblox:active {
    transform: scale(0.95);
    background-color: #c55000;
}

.button.e-waste {
    display: none;
    animation: fadeIn 1s ease-in-out forwards;
    background: linear-gradient(45deg, #4CAF50, #8BC34A);
    border: 1px solid #3E7E41;
    color: white;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.2s;
}
.button.e-waste:hover {
    box-shadow: 0 0 15px #8BC34A;
    background: linear-gradient(45deg, #8BC34A, #4CAF50);
}

.button.e-waste:active {
    transform: scale(0.95);
    opacity: 0.8;
    box-shadow: 0 0 5px #8BC34A;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#profile-image {
    cursor: pointer;
    transition: transform 0.1s ease;
}


#profile-image:active {
    transform: scale(0.9);
}



@keyframes fall {
    0% {
        transform: translateY(-10px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}


#profile-image-container {
    position: relative;
    display: inline-block;
}


#profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


#christmas-hat {
    position: absolute;
    top: -8px;
    left: 25px;
    width: 40px;
    height: auto;
}

.contact-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
}

.contact-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.contact-button i {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {

     header {
        width: calc(100% - 20px);
        padding: 10px 5px;
    }

}
